h1, h2, h3, {
	font-family: 'Gentium Book Basic', serif;
	text-align:center;
	color: #B3B3B3;
}
p {
	font-family: 'Manuale', serif;
	font-size: 30px;
	text-align: center;
	color: #000000;
}
body {
	text-align: center;
	font-family: 'Manuale', serif;
	background-color: #D7EAF4;
	margin:0;
	padding:0;
}
ul {
	list-style-type:none;
	overflow: hidden;
	font-size:40px;
	text-align:center;
	font-weight: bold;

}
li {
	display:inline;
	font-family: 'Manuale', serif;
}	
li a {
	display:inline-block;
	text-align: center;
	text-decoration: none;
	padding: 5px;
	color: white;
}
li a:hover {
	background: #5bc0f7;
}

#logo-title-container {
	padding: 2em;
}

#logo {
	width: 20%;
	float: left;
	display: block;	
}

#title {
	font-size: 50px;
	color: white;
	margin-bottom:0px;
	display: inline-block;
	width: 75%;
	margin: revert;
}
#slogan {
	font-size: 50px; 
	color: white;
	margin-top: 0px; 
}

#Top {
	margin-block-end:inherit;
	background-image: url('Pictures/background/Tallinn.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

.table {
	width: 50%;
}

#nav {
	background-color: #77CEFF;
}

#contact {
	font-size: 15px;
	font-family: 'Manuale', serif;
	height: 70px;
	bottom:0px;
	text-align:center;
	padding-top: 10px;
}

.logos {
	height: 25px;
	width: 25px;
}
#outro {
	background-color:  #77CEFF;
	border-bottom-color: #77CEFF;
	position: absolute;
	margin-bottom: 0;
	margin-top: 0;
	width: 100%;
}
#what {
	 font-family: 'Manuale', serif;
	font-size: 30px;
	text-align: center;
	color: #000000;
	margin-bottom:0px;
	height: 60%;
	width: 80%;
	
	
}
label {
	font-size: 25px;
	font-family: 'Manuale', serif;
}
input {
	text-align: center;
	font-size: 20px;
}
.button {
	font-size: 20px;
	padding: 20px 40px;
	color: #e9ecee;
	font-family: 'Oswald', sans-serif;
	color: #000000;
	border: none;
	margin: 15px;
}

.button:hover {
	box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24), 0 17px 50px 0 rgba(0,0,0,0.19);
}

.form {
	border: none;
	padding: 20px 30px;
	font-size: 15px;
	
}
#form {
	margin-top: 5px;
}
.pic {
	width: 45% ;
	height: auto;
}
#whopic {
	float: left;
}
table {
	height: 60%;
	margin-left: auto;
	margin-right: auto;
	margin-bottom: 10px;
}
.tabletext1 {
	font-weight: bold;
}
.tabletext2 {
	font-size:20px;
}
#indextable {
	background-color: #f7fbfd;
}
.background {
	background-color: #f7fbfd;
	margin-left:20%;
	margin-right:20%;
	padding: 10px;
	margin-bottom: 20px;
	
}
.p {
	font-family: 'Manuale', serif;
	font-size: 30px;
	text-align: center;
	color: #000000;
	margin-bottom: 30px;
}
#mc_embed_signup {
	background-color: #D7EAF4;
	position: relative;
	margin-bottom: 0;
}
.tripimg {
	width: 25vw;
	height: auto;
}
.resultpics {
	width: 25vw;
	display: block;
}
.resultsitself{
	display: flex;
	justify-content: center;
	padding: 20px;
	background-color: #F7FBFD;
}
.resultday {
	font-family: 'Manuale', serif;
	font-size: 30px;
	text-align: center;
	color: #000000;
	margin-bottom: 30px;
	font-weight: bolder;
}